@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

/* ---------------------------------Special paddings/margins/text */

{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* --------------------------------- Topnav Navbar Header Footer Button and Colors */

/* ------------------ Topnav */

.bg-color-topnav {
    background-color: #D9C8B7;
}

.topnav {
    padding-top: 2px;
    padding-bottom: 0px;
    padding-right: 20px;
    margin: 0;
}

.topnav ul {
    text-align: center;
    list-style-type: none;
}

.topnav li a {
    align-content: center;
    color: #4A3729;
    text-decoration: none;
}

/* ------------------ Navbar */

.inner-bg-color {
    background-color: #EDE6DE;
}

.bg-navbar-frame {
    border-style: solid;
    border-width: 33px;
    border-color: #D9C8B7;
}

#bg-outerframe {
    width: 100%;
}

#bg-innerframe {
    border-style: solid;
    border-width: 20px;
    border-color: #4A3729;
}

.main-logo {
    background: url("../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat center center;
    height: 300px;
    width: 300px;
}

.navbar-brand {
    display: flex;
    flex-wrap: nowrap;
}

.navbar {
    padding: 25px;
}

.navbar-nav {
    margin: 30px 0 20px;
}

.container-flex {
    padding: 25px;
}

.nav-item{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.navbar li a {
    text-align: center;
    font-style: italic;
    color: #4A3729;
    font-size: 16px;
    font-style: bold;
    font-family: Merriweather, sans-serif;
}

.nav-item  i {
    color: #4A3729;
    display: flex;
    justify-content: center;
}

.navbar-toggler {
    color: #4A3729;
    font-size: 12px;
    font-style: bold;
    font-weight: 700;
    font-family: Merriweather, sans-serif;
}

h1.title {
    font-family: Merriweather, sans-serif;
    font-weight: 600;
    color: #4A3729;
    text-align: center;
}

h2.name {
    font-family: Merriweather, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #4A3729;
    padding-top: 15px;
}

div.logo {
    flex-direction: column;
}

.navbar-brand {
    margin-right: 0;
}

/* --------------------------------- <Name Details Title Heading */

.header {
    margin: 0;
}

.heading h3 {
    padding-top: 40px;
    text-align: center;
    font-style: italic;
    text-align: center;
    color:#4A3729;
    font-family: Merriweather, sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    padding: 20px 0 0;


}

.paragraph-quote {
    line-height: 2rem;
    padding-bottom: 20px;
}

.bg-color-name-title {
    background-color: #EDE6DE;
}

.details {
    font-size: large;
    text-align: center;
    padding-top: 12px;

}

.list-inline-item:not(:last-child) {
    margin-bottom: 2px;
}

/* ------------------ Footer */

.bg-color-footer {
    background-color: #EDE6DE;
}

.footer-frame {
    border-style: solid;
    border-width: 33px;
    border-color: #D9C8B7;
}

#bg-footer-outerframe {
    border-style: solid;
    border-width: 35px;
    border-color: #fefefe;
}

#bg-footer-innerframe {
    border-style: solid;
    border-width: 20px;
    border-color: #4A3729;
}

#address, #email, #contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-top i {
    color: #4A3729;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-top: 8px;
}

.footer-heading {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        justify-content: center;
        align-items: center;
        margin-left: 52px;
}

.footer-logo {
    background: url("../images/footerlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-top: 8px;
    margin-left: 55px;
}

.footer-section-name {
    font-family: Merriweather, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    color: #4A3729;
    margin-top: 5px;
}

.footer-p {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #000;
    padding-top: 3px;
    padding-bottom: 8px;
}

.footer-section-heading {
    font-family: Merriweather, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: #4A3729;
    padding-bottom: 5px;
}

.footer-bottom-heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-bottom {
    font-family: Merriweather, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
    color: #4A3729;
    padding-bottom: 10px;
    text-align: center;
}

.footer-bottom-heading li {
  list-style-type: none;
  text-align: center;
  margin-right: 50px;
  line-height: .70rem;
}

#quick-links,
#download-link,
#clinico {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4A3729;
}

#social {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    padding-right: 60px;
    color: #4A3729;
}

.foot-item-link a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.foot-item-link p {
    font-family: Merriweather, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    color: #4A3729;
    width: 100%;
    line-height: .75rem;
}

.inline-block {
    font-family: Merriweather, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: #4A3729;
    width: 100%;
    line-height: 1.5rem;
}

.inline-block-book {
    font-family: Merriweather, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    color: #4A3729;
    width: 100%;
}

.list-inline {
    list-style-type: none;
}

.foot-item-link p {
    font-size: 14px;
    text-align: center;
    color: #4A3729;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    /* transition: all 0.3s ease; */
}

.foot-item-link p:hover {
    background-color: #4A3729;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: 20px;
    color: #fefefe;
    height: 18px;
}

.foot-item-link ul li:not(:last-child) {
    margin-bottom: 10px;
}

.download i
.calendar i {
    font-size: 18px;
    color: #4A3729;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links i {
    font-size: 18px;
    color: #4A3729;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.download i,
.calendar i {
    width: 28px;
    height: 28px;
    padding: 5px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 1rem;
    text-align: center;
    align-content: space-between;
    color: #fefefe;
    background: #4A3729;
}

.social-links li a i {
    width: 28px;
    height: 28px;
    padding: 5px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 1rem;
    text-align: center;
    align-content: space-between;
    color: #fefefe;
    background: #4A3729;
}

.download i:hover {
    color: #4A3729;
    background: #D9C8B7;
}

.calendar i:hover {
    color: #4A3729;
    background: #D9C8B7;
}

.social-links li a i:hover {
    color: #4A3729;
    background: #D9C8B7;
}

/* ---------------------------------About Dr Janique Section */

.container-flex-about {
    display: flex;
}

.container-flex-about > * {
    flex-basis: 100%;
}

.bg-about-frame {
    border-style: solid;
    border-width: 33px;
    border-color: #D9C8B7;
}

#bg-about-outline {
    border-style: solid;
    border-color: #4A3729;
    border-width: 15px;
}

#about-dr-janique {
    height: 700px;
}

#about-dr-janique h2 {
    text-align: center;
    color:#4A3729;
    font-family: Merriweather, sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    padding: 20px 0 0;

}

.about-headings h4 {
    justify-content: center;
    text-align: center;
    color:#4A3729;
    font-family: Merriweather, sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.35rem;
    padding: 20px;
}

#circle-container {
    width: 400px;
    height: 440px;
    padding: 30px;
    border-style: solid;
    border-color: #4A3729;
    border-width: 5px;
    border-radius: 35%;
    margin-top: 55px;
    margin-left: auto;
    margin-right: 5px;
    background-color: #FFF;
}

#circle-cover-bg {
    background: url("../images/janique.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    border-radius: 35%;
}

/* ---------------------------------Chiropractics Section */

/* .container-treat-heading {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
} */

.treat-heading h2 {
    text-align: center;
    color:#4A3729;
    font-family: Merriweather, sans-serif;
    font-size: 28px; 
    font-weight: 600;
    font-style: italic;
    letter-spacing: 1px;
    padding-top: 30px;
}

.cards-treat {
    background-color: #fefefe;
    display: grid;
    place-items: center center;   
}

.treatment-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    padding-top: 20px;
    padding-bottom: 40px;
    grid-gap: 20px;  
}

.treat-card {
    background-color: #1c1b29;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
}

.container-treat {
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%); 
}

.img {
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0; 
}  
   
.container-treat::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;  
    opacity: 0.2;
} 

.treatment-card-1>.container-treat::after {
    background-image: linear-gradient( 135deg, #0100ec, #fb36f4);
} 

.treatment-card-2>.container-treat::after {
    background-image: linear-gradient(135deg, #2bdce3, #42ffdb);
} 

.treatment-card-3>.container-treat::after {
    background-image: linear-gradient( 135deg, #ffab1d, #f8501c);
}

.treatment-card-4>.container-treat::after {
    background-image: linear-gradient( 135deg, #2bdce3, #42ffdb);
} 

.treatment-card-5>.container-treat::after {
    background-image: linear-gradient( 135deg, #ffab1d, #f8501c);
}  

.treatment-card-6>.container-treat::after {
    background-image: linear-gradient( 135deg, #0100ec, #fb36f4);
} 

.treatment-card-7>.container-treat::after {
    background-image: linear-gradient( 135deg, #ffab1d, #f8501c);
} 
 
.treatment-card-8>.container-treat::after {
    background-image: linear-gradient( 135deg, #0100ec, #fb36f4);
} 

.treatment-card-9>.container-treat::after {
    background-image: linear-gradient( 135deg, #2bdce3, #42ffdb);
} 

.button5 {
    background-color: #1c1b29; 
    border: none;
}

.button5 a {
    text-align: center;
    text-decoration: none; 
    display: inline-block;
    margin: 4px 2px; 
    cursor: pointer;
}

.details {
    padding: 20px 10px;
    margin: 10px 0 25px 0;
}     

.details h3 {
    color: #fefefe;
    font-family: 'Merriweather', serif; 
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    letter-spacing: 1px;
}  

/* ---------------------------------House Rules Section */

.container-house-rules {
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: 100vh;
    background-size: 100%; 
    background-color: #4A3729;
    /* background-color: #D9C8B7; */

} 

.container-rules{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;  
    padding: 20px; 
    grid-gap: 20px;  
} 

.card {
    position: relative;
    width: 320px;
    height: 450px;
    margin: 0px; 
    background-color: #EADACB; 
    border-radius: 20px;
    border-bottom-left-radius: 160px;
    border-bottom-right-radius: 160px;
    box-shadow: 0 15px 0 #fff,
    inset 0 -15px 0 rgba(255,255,255,0.25), 0 45px 0 rgba(0,0,0,0.15); 
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card::before {
    content: '';
    position: absolute;
    top: -140px;
    left: -40%; 
    width: 100%;
    height: 120%;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,0.5));
    transform: rotate(35deg);
    pointer-events: none;
    filter: blur(10px); 
   
}

.card:nth-child(1) {
    background: linear-gradient(to bottom #EADACB, #4A3729); 
} 

.rule-icon {
    position: relative;
    width: 140px;
    height: 120px;
    background-color: #4A3729;
    background-color: #D9C8B7;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 0 10px 0 rgba(0,0,0,0.1), 
    inset 0 -8px 0 #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rule-icon::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 15px -15px 0 15px #D9C8B7;
}

.rule-icon::after {
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -15px -15px 0 15px #4A3729;
    box-shadow: -15px -15px 0 15px #D9C8B7;
}

.rule-icon ion-icon {
    color: #fff;
    color: #4A3729;
    position: relative;
    font-size: 4em;
    z-index: 10000;
    --ionicon-stroke-width: 20px;
}

.content-rule {
    position: absolute;
    width: 100%;
    padding: 30px;
    padding-top: 150px;
    text-align: center;
}

.content-rule h3 {
    color: #4A3729;
    margin-bottom: 10px;
}

.content-rule p {
    color: #4A3729;
    line-height: 1.5em;
}

/* ---------------------------------Appointment info Section */

.container-appoint {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-size: cover;
}

.appointment-heading {
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: 34px;
    font-style: italic;
    font-weight: 600;
    word-spacing: 2.5px;
    letter-spacing: 2px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-top: 0;
    margin-bottom: 10px;
}

.container-appoint-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    line-height: 2rem;
    width: 100%;
    padding-left: 0;
}

.container-appoint-1 h4 {
    font-family: Merriweather, sans-serif;;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #4A3729;
    text-align: center;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.container-appoint-1 {
    font-family: Merriweather, sans-serif;;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #4A3729;
    text-align: center;
    line-height: 1.75rem;
}

