@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Merriweather', serif; */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */


/* ---------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* .inline-block {
    display: inline-block;
}   */

/* --------------------------------- Topnav Navbar Header Footer Button and Colors */


/* ------------------ Topnav */

.bg-color-topnav {
    background-color: #D9C8B7;
}

.topnav {
    padding-top: 2px;
    padding-bottom: 0px;
    padding-right: 20px;
    margin: 0;
}

.topnav ul {
    text-align: center;
    list-style-type: none;
}

.topnav li a {
    align-content: center;
    color: #4A3729;
    text-decoration: none;
}

/* ------------------ Navbar */

.navbar-bg-color {
    background-color: #EDE6DE;
}

.bg-navbar-frame {
    border-style: solid;
    border-width: 33px;
    border-color: #D9C8B7;
}

#bg-navbar-innerframe {

    border-style: solid;
    border-width: 20px;
    border-color: #4A3729;
}

.main-logo {
    background: url("../images/logo.png");
    background-size: cover;
    background-repeat: no-repeat center center;
    height: 350px;
    width: 350px;
}

.navbar-brand {
    display: flex;
    flex-wrap: nowrap;
}

.navbar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
}

.navbar-nav {
    margin-left: 25px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 15px;
}

.nav-item  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.navbar li a {
    text-align: center;
    font-style: italic;
    color: #4A3729;
    font-size: 18px;
    font-style: bold;
    font-family: Merriweather, sans-serif;
}

.nav-item  i {
    color: #4A3729;
    display: flex;
    justify-content: center;
}

.navbar-toggler {
    color: #4A3729;
    font-size: 12px;
    font-style: bold;
    font-weight: 700;
    font-family: Merriweather, sans-serif;

} 

/* ------------------ Footer */

.bg-color-footer {
    background-color: #EDE6DE;
}

.footer-frame {
    border-style: solid;
    border-width: 33px;
    border-color: #D9C8B7;
}

#bg-footer-outerframe {
    border-style: solid;
    border-width: 35px;
    border-color: #fefefe;
}

#bg-footer-innerframe {
    border-style: solid;
    border-width: 20px;
    border-color: #4A3729;
}

#address, #email, #contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.footer-top i {
    color: #4A3729;
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 3px;
    margin-top: 8px;
}

.footer-heading {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        justify-content: center;
        align-items: center;
        margin-left: 52px;
}

.footer-logo {
    background: url("../images/footerlogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    margin-top: 8px;
    margin-left: 55px;
}

.footer-section-name {
    font-family: Merriweather, sans-serif;
    font-size: 22px;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    color: #4A3729;
    margin-top: 5px;
}

.footer-p {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #000;
    padding-top: 3px;
    padding-bottom: 8px;
}

.footer-section-heading {
    font-family: Merriweather, sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    color: #4A3729;
    padding-bottom: 5px;
}

.footer-bottom-heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer-bottom {
    font-family: Merriweather, sans-serif;
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
    color: #4A3729;
    padding-bottom: 10px;
    text-align: center;
}

.footer-bottom-heading li {
  list-style-type: none;
  text-align: center;
  margin-right: 50px;
  line-height: .70rem;
}

#quick-links,
#download-link,
#clinico {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #4A3729; 
}

#social {
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    padding-right: 60px;
    color: #4A3729; 
}

.foot-item-link a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.foot-item-link p {
    font-family: Merriweather, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    color: #4A3729;
    width: 100%;
    line-height: .75rem;
}

.inline-block {
    font-family: Merriweather, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    color: #4A3729;
    width: 100%;
    line-height: 1.5rem;
}

.inline-block-book {
    font-family: Merriweather, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    color: #4A3729;
    width: 100%;
}

.list-inline {
    list-style-type: none;
}

.foot-item-link p {
    font-size: 14px;
    text-align: center;
    color: #4A3729;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    /* transition: all 0.3s ease; */
}

.foot-item-link p:hover {
    background-color: #4A3729;
    padding-left: 10px;
    padding-top: 5px;
    margin-left: 20px;
    color: #fefefe;
    height: 18px;
}

.foot-item-link ul li:not(:last-child) {
    margin-bottom: 10px;
}

.download i
.calendar i {
    font-size: 18px;
    color: #4A3729;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links i {
    font-size: 18px;
    color: #4A3729;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.download i,
.calendar i {
    width: 28px;
    height: 28px;
    padding: 5px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 1rem;
    text-align: center;
    align-content: space-between;
    color: #fefefe;
    background: #4A3729;
}

.social-links li a i {
    width: 28px;
    height: 28px;
    padding: 5px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 1rem;
    text-align: center;
    align-content: space-between;
    color: #fefefe;
    background: #4A3729;
}

.download i:hover {
    color: #4A3729;
    background: #D9C8B7;
}

.calendar i:hover {
    color: #4A3729;
    background: #D9C8B7;
}

.social-links li a i:hover {
    color: #4A3729;
    background: #D9C8B7;
}


/*-------------------------------- Responsive Footer Section */

/*--------------------------------  General Media Section - Queries Syntax */



@media screen and (mix-width: 481px) {
 {
   

    }


}

@media screen and (mix-width: 481px) {
    .foot-item-link {
        width: 50%;
        margin-bottom: 30px;

    }
}

@media screen and (orientation: landscape) {
    .foot-item-link {
        width: 100%;

    }
}

@media(max-width: 574px){
    .foot-item-link {
        width: 100%;

    }
}


@media screen and (mix-width: 481px) {
    .foot-item-link {
        width: 50%;
        margin-bottom: 30px;

    }
}
@media screen and (mix-width: 481px) {
    .foot-item-link {
        width: 50%;
        margin-bottom: 30px;

    }
}




/* .forms-pdf a i */
/* .download i,
.forms-pdf a i,  */

/* ------------------ Button */

.button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: #fff;
    background-color: #4A3729;
    border: none;
}

/* --------------------------------- <Name Details Title Heading */

.header {
    margin: 0;
}

.heading {
    padding-top: 20px;
    text-align: center;
    font-style: italic;
}


.bg-color-name-title {
    background-color: #EDE6DE;
}

.name {
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    font-size: 40px;
    margin-top: 25px;
    text-align: center;
    color: #4A3729;
    padding-top: 25px;
}

.details {
    font-size: large;
    text-align: center;
    padding-top: 12px;
}

.title {
    font-family: Merriweather, sans-serif;;
    font-weight: 600;
    font-size: 65px;
    margin-top: 40px;
    margin-bottom: 70px;
    color: #4A3729;
    text-align: center;
}

.list-inline-item:not(:last-child) {
    margin-bottom: 2px;
}

/* ---------------------------------About Dr Janique Section */

.container-flex-about{
    display: flex;
}

/* .container-flex-about > * {
    flex-basis: 100%;
} */

.bg-about-frame {
    border-style: solid;
    border-width: 33px;
    border-color: #D9C8B7;
}

#about {
    background-color: #fefefe;
}

#bg-about-outline {
        border-style: solid;
        border-color: #4A3729;
        border-width: 15px;
}

#about-dr-janique {
    height: 700px;
}

#about-dr-janique h2 {
    margin: 20px 0;
    text-align: center;
    font-family: "Lato sans-serif";
    font-size: 280%;
    color:#4A3729;
}

.left-about-heading  {
    text-align: left;
    justify-content: center;
    color:#4A3729;
    line-height: 30px;
    padding-top: 30px;
    padding-left: 10px;
    margin-left: 25px;
    width: 30%;
    clear: both;
}

#circle-container {
    width: 450px;
    height: 490px;
    padding: 30px;
    margin-top: 55px;
    border-style: solid;
    border-color: #4A3729;
    border-width: 5px;
    border-radius: 35%;
    margin-left: auto;
    margin-right: 5px;
    background-color: #EDE6DE;
}

#circle-container {
    border-color: #4A3729;
}

#circle-cover-bg {
    background: url("../images/janique.jpg") no-repeat center center;
    height: 100%;
    width: 100%;
    border-radius: 35%;
}

.right-about {
    text-align: left;
    justify-content: center;
    color:#4A3729;
    line-height: 30px;
    padding-top: 30px;
    padding-right: 10px;
    margin-right: 18px;
    width: 30%;
    clear: both;
}

/* ---------------------------------Media Queries for About Section */

}@media screen and (max-width: 1393px) {
    #about-dr-janique {
        width: 65%;
        height: 1200px;
        margin: 0 auto;

    }


#intro {
    padding: 30px 0;
    margin-top: 0;

}

#left-about, #right-about {
    width: 100%;
    float: left;
    padding: 0;

}

.left-about-heading,
.right-about-heading h2 {
    width: inherit;

}

.left-about-heading, .right-about-heading p {
    width: 100%;
    float: left;
    padding: 0;

}

#centre-about {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

#circle-container {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

#circle-container-bg {
    clear: both;
    width: 100%;
    float: left;
    padding: 0;

}

} 

/* ---------------------------------Appointment info Section */

.bg-color-appointment-info {
    background-color: #EDE6DE; 
} 

.container-appoint {
    margin: 0px;
    padding: 15px;
} 

.appointment-heading {
    text-align: center;
    font-family: Merriweather, sans-serif;
    font-size: 34px;
    font-style: italic;
    font-weight: 600;
    word-spacing: 2.5px;
    letter-spacing: 2px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 0px; 
    margin-top: 0;
    margin-bottom: 10px;
}

.container-appoint-1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    align-content: center;
    line-height: 2rem;
    width: 100%;
    padding-left: 0;
} 

.container-appoint-1 h4 {
    font-family: Merriweather, sans-serif;;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #4A3729;
    text-align: center;
    margin-top: 115px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%; 
}

.container-appoint-1 {
    font-family: Merriweather, sans-serif;;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #4A3729;
    text-align: center;  
    line-height: 1.75rem;      
}  

.appoint-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;   
} 

.appoint-2 {
    background: url("../images/medi.jpg")no-repeat center;
    background-size: cover;
    height: 400px;
    width: 480px; 
}

.appoint-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%; 
}   

.dropdown {
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px; 
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;   
} 

.button {
    background-color: #4A3729; 
    border: none;
    color: #EDE6DE;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: #EDE6DE; 
    color: black; 
    border: 2px solid #4A3729;
  }
  
  .button1:hover {
    background-color: #4A3729;
    color: #EDE6DE;
  }
  
  .button2 {
    background-color: #EDE6DE; 
    color: black; 
    border: 2px solid #4A3729;
  }
  
  .button2:hover {
    background-color: #4A3729;
    color: #EDE6DE;
  }
  
  .button3 {
    background-color: #EDE6DE; 
    color: black; 
    border: 2px solid #4A3729;
  }
  
  .button3:hover {
    background-color: #4A3729;
    color: #EDE6DE;
  }
  
  .button4 {
    background-color: #EDE6DE;
    color: black;
    border: 2px solid #4A3729;
  }

  .button4:hover {
    background-color: #4A3729;
    color: #EDE6DE;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    color: #4A3729 ;
    font-family: Merriweather, sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #EDE6DE;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


/* --------------------------------- Header and Colors */

.bg-color-header {
    /* background-color: #FCE9DF;  */
    /* background-color: #24522E;  */

}

/* .ui-menu-color-form {
    background-color:#F4ECE6;
} */

/* .ui-menu-color-button {
    background-color:#854A14;
    background-color: greenyellow;
}   */



/* --------------------------------- Title About Colors */


.bg-color-name-title-frame {
    /* background-color: #D9C8B7;  */
    background-color: red;
}





/* --------------------------------- Appoint Form Contact Tab Colors */

.bg-color-contact-heading-container {
    /* background-color: #EDE6DE; */
    background-color: darkorange;

 }


 .bg-color-appoint {
    /* background-color: #f3ECE4; */
    background-color: darkseagreen;
 }

 /*-------------------------------- Why Choose Section */
/*
 .bg-color-why {
    background-color: black;

 }

.container-why {
    background-color: #F4ECE6;
} */



/* .menuitem a {
    width: 100%;
    text-decoration: none;
    color: #854A14;
    height: 120px;
    color: red;
} */


/* .button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #DBD4CC;
    border-color: #4A3729;
    background-color: rgba(98, 68, 4, 0.906);

}  */


     


